.forgot-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    color: black;
    padding: 4rem 2rem;
    box-shadow: 0rem 1.5rem 2rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

.forgot-form h1 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 2;
    border-bottom: 1px solid black;
}

.forgot-form form label {
    display: block;
    margin-top: 1rem;
    font-size: 1.5rem;
    line-height: 2;
    font-family: sans-serif;
}

.forgot-form form input {
    width: 30rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 2px solid #f0f0f0;
}

.forgot-form form .reset {
    display: block;
    margin: 1.5rem 0;
    width: 30rem;
    cursor: pointer;
    padding: 0.8rem 1rem;
    background: #1a3fa0;
    outline: none;
    border: none;
    color: white;
    border-radius: 0.5rem;
}

@media screen and (max-width: 768px) {
    .forgot-form form input {
        border: 0.1px solid #1c1c1c;
        border-radius: 0.5rem;
    }
}