* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.3%;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}

body {
    background: #eee;
}

section {
    padding-top: 8rem;
}

@media screen and (max-width: 991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 2rem;
    }
}

@media screen and (max-width: 450px) {
    html {
        font-size: 50%;
    }
}